Dear {{name}},

  Thank you for making your first purchase with us! We’re so glad that you found 
  what you were looking for.

  Your Transaction ID is {{transaction_id}} - locate your items from the website (**registered users**)
  Your Total Amount Due is {{total}} AED

  Important Note #1
		1. To view your full order login to your account and click on Transactions.
		2. You need to attach the bank transfer amount from there.
		3. After done you will receive an email with the download link(s)
	
  Important Note #2
		The bank details are posted in the same location of your purchased items.
	

  It’s been a pleasure doing business with you.

  Best wishes,
  Dr. Maha Habib